@charset "UTF-8";
.board-form {
	margin-bottom: 100px;
}

#showImage {
	/* 이미지 위의 x버튼이 div요소(#showImage) 안에서 적용되도록 'position: relative;' */
	position: relative;
	margin: 0 auto;
	height: 400px;
	overflow: hidden;
	text-align: center;	
}

label {
	z-index: 1;
}

#boardImg {
	width: auto;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

/* 게시글 이미지 초기화 버튼(상세페이지) - 이미지의 왼쪽 위에 위치 */
#resetBtn {
	position: absolute;
	margin-top: 20px;
	left: 50px;
	z-index: 2;
	cursor: pointer;
}

.board-info {
	padding-left: 10%;
}

.sel {
	margin-bottom: 50px;
}

.input-text {
	border: none;
}

.input-text:focus {
	outline: none;
}

#title {
	font-size: 20px;
	font-weight: bold;
	width: 450px;
}

table {
	border-bottom: 1px solid black;
	font-size: 18px;
	width: 500px;
}

tr {
	height: 50px;
}

#content {
	font-size: 23px;
	font-weight: normal;
}
