body {
    font-size: 20px;
}
    		
#searchForm {
	text-align: center;
	margin: 0;
}
		
#searchBar {
	width: 350px;
	height: 36px;
}
	
#logo {
	margin: 20px;		
}
	
.nav-item {
	margin-left: 20px;
	font-size: 22px;
}
        
#collapseThree {
	position: absolute;
	z-index: 99;
	background-color: #FFF5EE;
}
        
.accordion-body {
	height: 350px;
	width: 100vw;
	display: flex;
	justify-content: center;
}

#radio1 {
	margin-right: 200px;
}

#smartBtn-div {
	text-align: center;
	margin: 20px;
}
        
#smartBtn {
	font-size: 20px;
}		