/* 로그인, 회원가입, 아이디/비밀번호 찾기, 회원정보수정 페이지에서 사용 */ 
@charset "UTF-8";
* {
	font-family: 'Gaegu', cursive !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-member {
  max-width: 330px;
  padding: 15px;
}

.form-member .form-floating:focus-within {
  z-index: 2;
}

.form-member input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-member input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 체크박스와 텍스트 높이 맞추기(체크박스 위로 올림)*/
input[type="checkbox"] {
	position: relative;
	top: -10px; 
}

.id-find, .pw-find {
	font-size: 15px;
}

/* 회원 수정 페이지의 프로필 이미지 관련 CSS */
body > main > form > div.mb-4 {
	position: relative; /* 이미지 위의 x버튼이 해당 div 안에서 적용되도록 함 */
}

#showImage {
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 70%;
	overflow: hidden;
	z-index: 1;
}

#profileImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 프로필 이미지 초기화 버튼(회원 수정 페이지) - 이미지의 오른쪽 아래에 위치 */
#resetBtn {
	position: absolute;
	bottom: 22px;
	right: 81px;
	z-index: 2;
	cursor: pointer;
}
