@charset "UTF-8";
* {
	font-family: 'Gaegu', cursive !important;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 체크박스와 텍스트 높이 맞추기(체크박스 위로 올림)*/
input[type="checkbox"] {
	position: relative;
	top: -10px; 
}

.id-find, .pw-find {
	font-size: 15px;
}
